{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
{% endblock %}

{% block header %}
<nav class="row navbar navbar-expand-lg navbar-dark fixed-top stroke">
    <a href="{{ path('home_page') }}" class="button">
    <span class="text-hover"><img src="/assets/img/logoPaysanUrbain2.jpg" alt="Logo du Paysan Urbain" class="img-fluid" width="200px"
            height="200px"></span>
    <span class="text-base"><img src="/assets/img/logoPaysanUrbain.jpg" alt="Logo du Paysan Urbain" class="img-fluid" width="200px"
            height="200px"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- Links -->
        <ul class="nav navbar-nav">
            
                
                {% if app.request.pathinfo == "/"~ entreprisesPu|lower ~ route %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home_ville', {nameEntreprise: entreprisesPu|lower }) }}">ACCUEIL</a>   

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nos_micropousses', {nameEntreprise: entreprisesPu|lower }) }}">LE MONDE DES MICROPOUSSES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nos_missions', {nameEntreprise: entreprisesPu|lower }) }}">NOS ANIMATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact', {nameEntreprise: entreprisesPu|lower }) }}">CONTACT</a>
            </li>
            {% endif %}
            
        </ul>
   
</nav>
{% endblock header %}
